/* You can add global styles to this file, and also import other style files */
.spinner-border{
    color: orangered;
    width: 10rem;
    height 10rem;
}
.spinner-small{
    width: 3rem;
    height 3rem;
    }